---
---

//
// IMPORTS
//

@import "reset";
@import "variables";

header {
  background-image: url('{{ site.baseurl }}/images/header-bg.jpg');
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

footer {
  background-color: $lightGray;
  padding: 10px;
}

#main {
  min-height: 400px;
}

.card-img-top {
  //max-height: 100px;
  
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
